<div class="pt-4 flex justify-center align-middle">
  <div class="bg-black shadow overflow-hidden sm:rounded-lg w-3/4">
    <div class="px-4 py-5 sm:px-6">
      <h3 class="text-lg leading-6 font-medium text-gray-900 text-yellow-500">Criação de Kudostories</h3>
      <p class="mt-1 max-w-2xl text-sm text-gray-500">Preencha os campos para deixar deixar seu amigo feliz :)</p>
    </div>
    <div class="border-t m-4 border-gray-200">
      <kudostories-campo-preenchimento></kudostories-campo-preenchimento>
    </div>
    <div class="border-t m-4 border-gray-200">
      <kudostories-gravador></kudostories-gravador>
    </div>
  </div>
</div>
